{% extends ':Frontend:base.html.twig' %}

{% form_theme contactForm _self %}

{% block _app_bundle_contact_message_type_privacy_widget %}
    <div class="checkbox">
        <input type="checkbox" id="checkbox-privacy-homepage" {{ block('widget_attributes') }} />
        <label for="checkbox-privacy-homepage" class="control-label my-privacy-label-homepage">
            He leído, entiendo y acepto la política de privacidad y de protección de datos de GRUAS ROMANÍ, S.A. Para consultar la política de privacidad consultar el siguiente <a href="{{ path('front_privacy')}}">enlace</a>.
        </label>
    </div>
{% endblock %}

{% block title %}Alquiler de plataforma aérea sobre camión · {{ parent() }}{% endblock %}

{% block main %}
    <div class="container container-main">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="main-title no-m">Grúas Romaní</h1>
                <h2 class="main-subtitle no-m-top">Alquiler de plataformas aéreas sobre camión para la elevación de personal a grandes alturas.</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h3 class="c-yellow no-m-bottom"><strong>Plataformas aéreas sobre camión</strong></h3>
            </div>
        </div>
        <hr class="hr-divider">
        <div class="row">
            <div class="col-sm-8">
                <img src="{{ asset('bundles/app/img/ruthmann-steiger-aerial-lift-at-gruas-romani-1.jpg') | imagine_filter('1200xY') }}" alt="plataforma aérea sobre camión Ruthmann Steiger de Grúas Romaní trabajando en altura" class="img-responsive">
                <p class="lead normal-m-top">
{#                    <img src="{{ asset('bundles/app/img/icon_serv_pa.png') }}" alt="icono plataforma elevadora aerea"> #}
                    CTA text
                </p>
                <div class="media">
                    <div class="media-left">
                        <a style="width:80px;display:inline-block">
                            <i class="fa fa-5x fa-check-square-o c-yellow" style="width:80px;padding-left:6px;margin-top:-5px;"></i>
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading normal-m-top">Más de 50 años de experiencia</h4>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <a style="width:80px;display:inline-block">
                            <i class="fa fa-5x fa-arrow-circle-up c-yellow" style="width:80px;padding-left:7px;margin-top:-5px;"></i>
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading normal-m-top">A partir de 40 metros de altura</h4>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <a style="width:80px;display:inline-block">
                            <i class="fa fa-5x fa-star c-yellow" style="width:80px;padding-left:7px;margin-top:-1px;"></i>
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading normal-m-top">Máquinas Ruthmann Steiger i Bronto Skylift con la última tecnología</h4>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <a style="width:80px;display:inline-block">
                            <i class="fa fa-5x fa-user c-yellow" style="width:80px;padding-left:12px;margin-top:-5px;"></i>
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading normal-m-top">Un equipo humano de 35 personas a su disposición</h4>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <a style="width:80px;display:inline-block">
                            <i class="fa fa-5x fa-building c-yellow" style="width:80px;padding-left:12px;"></i>
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading normal-m-top">Somos especialistas en el <strong>sector eólico</strong>, industrial, construcción, mantenimiento de fachadas y eventos deportivos</h4>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <a style="width:80px;display:inline-block">
                            <i class="fa fa-5x fa-search-plus c-yellow" style="width:80px;padding-left:7px;margin-top:-5px;"></i>
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading normal-m-top">Disponemos de asesoramiento técnico personalizado</h4>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <a style="width:80px;display:inline-block">
                            <i class="fa fa-5x fa-lock c-yellow" style="width:80px;padding-left:16px;margin-top:-5px;"></i>
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading normal-m-top">La <strong>seguridad siempre primero</strong> en el planificación y ejecución de todas las maniobras</h4>
                    </div>
                </div>
{#                <ul class="list-group media-middle">#}
{#                    <li class="list-group-item"><i class="fa fa-2x fa-check text-success"></i> <span class="inline">Más de 50 años de experiencia</span></li>#}
{#                    <li class="list-group-item"><i class="fa fa-2x fa-chevron-up text-success"></i> A partir de 40 metros de altura</li>#}
{#                    <li class="list-group-item"><i class="fa fa-2x fa-star text-success"></i> Máquinas Ruthmann Steiger i Bronto Skylift con la última tecnología</li>#}
{#                    <li class="list-group-item"><i class="fa fa-2x fa-users text-success"></i> Un equipo humano de 35 personas a su disposición</li>#}
{#                    <li class="list-group-item"><i class="fa fa-2x fa-building text-success"></i> Somos especialistas en el <strong>sector eólico</strong>, industrial, construcción, mantenimiento de fachadas y eventos deportivos</li>#}
{#                    <li class="list-group-item"><i class="fa fa-2x fa-search-plus text-success"></i> Disponemos de asesoramiento técnico personalizado</li>#}
{#                    <li class="list-group-item"><i class="fa fa-2x fa-lock text-success"></i> La seguridad primero en el planificación y ejecución de todas las maniobras</li>#}
{#                </ul>#}
            </div>
            <div class="col-sm-4">
                <div class="panel yellow-background-light">
                    <div class="panel-heading">
                        <h5 class="c-blue h4"><strong>Solicite información</strong></h5>
                        <p>
                            Llamando al teléfono <a href="tel:+34636963304" onclick="ga('send', 'event', 'Click telefono', 'Click enlace', 'Telefono Landing Plataformad');"><i class="fa fa-phone-square"></i> 636 963 304</a> o enviandonos un mensaje de <a><i class="fa fa-whatsapp"></i> Whatsapp</a>.
                        </p>
                    </div>
                </div>
                <div class="panel yellow-background-light">
                    <div class="panel-heading">
                        <h5 class="c-blue h4"><strong>Contacta con nosotros</strong></h5>
                        <p>
                            Enviando un email a <a href="mailto:info@gruasromani.com" onclick="ga('send', 'event', 'Click mail', 'Click enlace', 'Mail Landing Plataformad');"><i class="fa fa-envelope-o"></i> info@gruasromani.com</a> o mediante el siguiente formulario:
                        </p>
                        {% include ':Includes:notice_flash.html.twig' %}
                        {% block side_form %}
                            {{ form(contactForm) }}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
