{% extends ":Mails:base.html.twig" %}

{% block subject %}Revisions caducades{% endblock %}

{% block content %}
    <container>
        <row>
            <columns>
                <spacer size="40"></spacer>
                <h4>Operaris amb documentació caducats</h4>
                <spacer size="10"></spacer>
                <table>
                    <thead>
                        <tr>
                            <th class="blue-color">Data d'expedició</th>
                            <th class="blue-color">Data caducitat</th>
                            <th class="blue-color">Operari</th>
                            <th class="blue-color">Tipus revisió</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for item in entities %}
                        <tr>
                            <td>{{ item.begin }}</td>
                            <td>{{ item.end }}</td>
                            <td>{{ item.operator }}</td>
                            <td>{{ item.type }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <spacer size="20"></spacer>
                <p>Comprova-ho a la teva llista de tipus de revisió del CMS <a href="{{ url('admin_app_operatorchecking_list') }}">aquí</a></p>
            </columns>
        </row>
    </container>
{% endblock %}
