<canvas class="pdf-canvas" id="pdf-{{ attribute }}" style="width:100%;border:solid 1px #777"></canvas>
<a class="btn btn-warning btn-xs" href="{{ vich_uploader_asset(subject, uploaderMapping) }}" download="{{ attribute }}.pdf"><i class="fa fa-cloud-download"></i> Descargar PDF</a>

<script type="text/javascript">
    PDFJS.getDocument('{{ vich_uploader_asset(subject, uploaderMapping) }}').then(function(pdf) {
        pdf.getPage(1).then(function(page) {
            var scale = 1;
            var viewport = page.getViewport(scale);
            var canvas = document.getElementById('pdf-{{ attribute }}');
            var context = canvas.getContext('2d');
            canvas.height = viewport.height;
            canvas.width = viewport.width;
            var renderContext = {
                canvasContext: context,
                viewport: viewport
            };
            page.render(renderContext);
        });
    });
</script>
