{% extends ':Frontend:base.html.twig' %}

{% block title %}{{ service.name | capitalize }} · Servicios · {{ parent() }}{% endblock %}

{% block main %}
    <div class="container container-main">
        <div class="row">
            {# left side menu #}
            <div class="col-sm-3">
                {{ knp_menu_render('service', {currentClass: 'active'}) }}
            </div>
            {# right main content #}
            <div class="col-sm-9">
                <h3 class="no-m-top">{{ service.name | capitalize }}</h3>
                {% if service.mainImage is not null %}
                    <img src="{{ vich_uploader_asset(service, 'mainImageFile') | imagine_filter('685x200') }}" class="img-responsive" alt="{{ service.name }}">
                {% endif %}
                <p>{{ service.description }}</p>
            </div>
        </div>
    </div>
{% endblock %}
