{% extends ':Frontend:base.html.twig' %}

{% block title %}{{ service.name | capitalize }} · Servicios · {{ parent() }}{% endblock %}

{% block main %}
    <div class="container container-main">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="main-title no-m">Nuestros servicios</h1>
                <h2 class="main-subtitle no-m">Consulte todos los servicios que ofrecemos.</h2>
            </div>
        </div>
        <hr class="hr-divider">
        <div class="row">
            {# left side menu #}
            <div class="col-sm-3">
                {{ knp_menu_render('service', {currentClass: 'active'}) }}
                {% if service.vehicleCategory is not null %}
                    <a class="btn btn-warning" href="{{ path('front_vehicles_category', {slug: service.vehicleCategory.slug}) }}">Más información sobre <strong>{{ service.vehicleCategory.name | capitalize }}</strong></a>
                {% endif %}
            </div>
            {# right main content #}
            <div class="col-sm-9">
                <h3 class="no-m-top main-subtitle">{{ service.name | capitalize }}</h3>
                {% if service.mainImage is not null %}
                    <img src="{{ vich_uploader_asset(service, 'mainImageFile') | imagine_filter('685x200') }}" class="img-responsive" alt="{{ service.name }}">
                {% endif %}
                <p>{{ service.description }}</p>
                <div class="panel yellow-background-light">
                    <div class="panel-heading c-blue">
                        <h6 class="panel-title no-m-top">¿Desea conocer más detalles sobre {{ service.name | lower }}? Contacte ahora con nosotros</h6>
                        <p class="normal-m-top">
                            <i class="fa fa-phone" aria-hidden="true"></i> llamando al <strong>636 963 304</strong><br>
                            <i class="fa fa-mouse-pointer" aria-hidden="true"></i> mediante este sencillo formulario
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
