{% extends ':Frontend:base.html.twig' %}

{% block title %}{{ work.name }} · Trabajo · {{ parent() }}{% endblock %}

{% block main %}
    <div class="p-vertical-small">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2>Trabajos y clientes</h2>
                    <a href="{{ path('front_works') }}">Todos los trabajos</a>
                    <hr>
                </div>
            </div>
        </div>
    </div>
    <div class="container container-main">
        <div class="row">
            {# left side #}
            <div class="col-sm-6">
                <h3 class="no-m-top">{{ work.name }}</h3>
                <p><strong>{{ work.date | date('d/m/Y') }}</strong></p>
                <h5>{{ work.shortDescription }}</h5>
                <p>{{ work.description | raw }}</p>
            </div>
            {# Right side #}
            <div class="col-sm-6">
                {% if work.mainImage is not null %}
                    <img src="{{ vich_uploader_asset(work, 'mainImageFile') | imagine_filter('112x150') }}" class="img-responsive" alt="{{ work.name }}">
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
