{% extends ':Frontend:base.html.twig' %}

{% block main %}
    <div class="p-vertical-small">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2>Trabajos y clientes</h2>
                    <p>Conozca algunos de nuestros trabajos más destacados.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container container-main">
        <div class="row">
            {% for work in works %}
                <div class="col-sm-8">
                    <div class="fitxa_llista">
                        <div class="fitxa_llista_container clearfix">
                            <div class="fitxa_llista_conts">
                                <h3>
                                    <a href="{{ path('front_work_detail', {slug: work.slug} ) }}">{{ work.name }}</a>
                                </h3>
                                <p>{{ work.date | date('d/m/Y') }}</p>
                                <p>{{ work.shortDescription }}</p>
                                <a href="{{ path('front_work_detail', {slug: work.slug} ) }}">Más información del trabajo</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="fitxa_llista">
                        <div class="fitxa_llista_container clearfix">
                            <div class="fitxa_llista_conts">
                                {% if work.mainImage is not null %}
                                    <a href="{{ path('front_work_detail', {slug: work.slug} ) }}">
                                        <img src="{{ vich_uploader_asset(work, 'mainImageFile') | imagine_filter('112x150') }}" alt="{{ work.name }}">
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

